<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <h1>데이터 차트</h1>
            <div class="col-10 offset-1">
                <canvas id="myChart" width="600" height="400"></canvas>
            </div>
        </div>
    </div>

    <script>
        new Chart(document.getElementById("myChart"), {
            "type": "bar",
            "data": {
                "labels": [
                <% if(typeof list != 'undefined') {
            for (let i = 0; i < list.length; i++) {  %>
                "<%= list[i].ct_name %>",
                <% }
        } %>
                ] ,
        "datasets": [{
            "label": "<%= msg %>",
            "data": [
                <% if(typeof list != 'undefined') {
            for(let i = 0; i <list.length; i++) {  %>
                <%= list[i].ct_result %>,
                <% }
        } %>
                ],
            "fill": false, "backgroundColor": [
                "rgba(255, 99, 132, 0.2)",
                "rgba(255, 159, 64, 0.2)",
                "rgba(255, 205, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(201, 203, 207, 0.2)",
                "rgba(255, 99, 132, 0.2)",
                "rgba(255, 159, 64, 0.2)",
                "rgba(255, 205, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)"
            ],
                "borderColor": [
                    "rgb(255, 99, 132)",
                    "rgb(255, 159, 64)",
                    "rgb(255, 205, 86)",
                    "rgb(75, 192, 192)",
                    "rgb(54, 162, 235)",
                    "rgb(153, 102, 255)",
                    "rgb(201, 203, 207)",
                    "rgb(255, 99, 132)",
                    "rgb(255, 159, 64)",
                    "rgb(255, 205, 86)",
                    "rgb(75, 192, 192)",
                ],
                    "borderWidth": 1
        }]
            }, "options": {
            "scales": {
                "yAxes": [{
                    "ticks": {
                        "beginAtZero": true
                    }
                }]
            }
        }
        });
    </script>
</body>

</html>