<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <h1>카테고리별 검색결과수</h1>
            <div class="col-10 offset-1">
                <canvas id="myChart" width="770" height="385" style="display: block; width: 770px; height: 385px;">

                </canvas>
            </div>
        </div>
    </div>
</body>
<script>
    new Chart(document.getElementById("myChart"),{"type":"bar","data":{"labels":["January","February","March","April","May","June","July"],"datasets":[{"label":"My First Dataset","data":[65,59,80,81,56,55,40],"fill":false,"backgroundColor":["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],"borderColor":["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],"borderWidth":1}]},"options":{}});
</script>

</html>