<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

    <body>
        <% include layout/nav %>
            <div class="container">
                <div class="row mt-4">
                    <div class="col-10 offset-1">
                        <div class="jumbotron">
                            <h1 class="display-4">네이버에서 데이터를 가져오는<br>쇼핑페이지 입니다.</h1>
                            <p class="lead">이 사이트는 심플한 익스프레스 사이트 입니다.</p>
                            <hr class="my-4">
                            <p>네이버쇼핑 실시간 인기 검색어</p>
                            <a class="btn btn-primary btn-lg" href="/top10" role="button">보러가기</a>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>