<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <h1>네이버쇼핑 실시간 인기 검색어</h1>
                <ul class="list-group">
                    <li class="bar list-group-item list-group-item-action active" style="width: 930px; height: 50px;">
                        <div style="position: absolute; left: 100px;">순위</div>
                        <div style="position: absolute; left: 310px;">검색어</div>
                        <div style="position: absolute; left: 800px;">변화</div>
                    </li>
                    <% for(let i = 0; i < list.length; i++) { %>
                    <li class="bar list-group-item list-group-item-action" style="width: 930px; height: 50px;">
                        <div style="position: absolute; left: 100px;"><%= list[i].ranking %></div>
                        <div style="position: absolute; left: 310px;"><a
                                href="https://search.shopping.naver.com/search/all.nhn?query=<%= list[i].ranking_link %>&cat_id=&frm=NVSHATC"><%= list[i].title %></a>
                        </div>
                        <div style="position: absolute; left: 800px;"><%= list[i].vary %></div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>